.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }

  > p {
    color: red;
    font-size: 1.5rem;
    margin: 0 0 $s-size $s-size;
  }
}

.form__container {
  max-width: 25rem;
  width: 100%;
}

.form__error {
  font-style: italic;
  margin: 0 0 $m-size 0;
}

.form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}